<div class="container">
  <div class="tab ota-primary-tab">
    <mat-tab-group class="ota-primary-tab" (selectedTabChange)="matTabChanged($event)">
      <mat-tab >
        <ng-template mat-tab-label> پرولز داخلی </ng-template>
        <domestic-flights></domestic-flights>
      </mat-tab>
      <mat-tab *ngIf="!requestMode">
        <ng-template mat-tab-label> پرولز خارجی </ng-template>
        <international-flights></international-flights>
      </mat-tab>
      <mat-tab *ngIf="!requestMode">
        <ng-template mat-tab-label> قطار </ng-template>
        <train></train>
      </mat-tab>
      <mat-tab *ngIf="!requestMode">
        <ng-template mat-tab-label> اتوبوس</ng-template>
        <bus></bus>
      </mat-tab>
      <mat-tab *ngIf="!requestMode">
        <ng-template mat-tab-label> تور</ng-template>
        <tour></tour>
      </mat-tab>
      <mat-tab *ngIf="!requestMode">
        <ng-template mat-tab-label> هتل</ng-template>
        <hotel></hotel>
      </mat-tab>
      <mat-tab *ngIf="!requestMode">
        <ng-template mat-tab-label> ویلا و اقاماگاه</ng-template>
        <accommodations></accommodations>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>